# Ignore Python bytecode files.
__pycache__/
*.pyc

# Ignore environment variables file (if you have one).
.env

# Ignore virtual environment directory.
venv/

# Ignore log files.
*.log

# For macOS users.
.DS_Store
